<%
  if Redmine::VERSION::MAJOR > 1 or (Redmine::VERSION::MAJOR == 1 and Redmine::VERSION::MINOR >= 4)
    url = membership_path(member)
    method = :put
  else
    url = {:controller => 'members', :action => 'edit', :id => member}
    method = :post
  end
%>

<td>
  <%= form_for :allocation,
               :as => member,
               :html => {:id => "allocation_form_#{member.id}"},
               :url => url,
               :remote => true,
               :method => method do |f| %>
    <%= f.select :allocation, 
                 options_for_select(((0..10).to_a.collect {|r| ["#{r*10} %", r*10] }),member[:allocation]), 
                 {}, 
                 :id => "member-#{member.id}-allocation", 
                 :onchange => "$('#allocation_form_#{member.id}').submit();" %>
  <% end %>
</td>
<td>
  <%= form_for :allocation,
               :as => member,
               :html => {:id => "from_date_form_#{member.id}"},
               :url => url,
               :remote => true,
               :method => method do |f| %>
    <%= f.date_field :from_date, 
                     :size => 10, 
                     :id => "member-#{member.id}-from_date", 
                     :value => member[:from_date], 
                     :onchange => "$('#from_date_form_#{member.id}').submit();" %>
    <%= calendar_for("member-#{member.id}-from_date") %>
  <% end %>
</td>
<td>
  <%= form_for :allocation,
               :as => member,
               :html => {:id => "to_date_form_#{member.id}"},
               :url => url,
               :remote => true,
               :method => method do |f| %>
    <%= f.date_field :to_date, 
                     :size => 10, 
                     :id => "member-#{member.id}-to_date", 
                     :value => member[:to_date], 
                     :onchange => "$('#to_date_form_#{member.id}').submit();"%>
    <%= calendar_for("member-#{member.id}-to_date") %>
  <% end %>
</td>
